div.edit-product-container div.container div.header div.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

div.edit-product-container div.container div.header div.content div.title label {
	margin-bottom: 0;
	color: #707070;
	font-size: 20px;
}

div.edit-product-container div.container div.header div.content div.line {
	width: 80%;

	display: flex;
	align-items: center;
	justify-content: center;
}

div.edit-product-container div.container div.header div.content div.line hr {
	width: 100%;
	margin-right: 10px;
}

div.edit-product-container div.container div.header div.content div.line hr {
	color: #0E9AEF;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

div.edit-product-container div.container div.jumbotron.main {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background: #ffffff;
	padding: 15px;
}

div.edit-product-container div.container div.jumbotron.main div.content label {
	margin-bottom: 2px;
	color: #707070;
}

div.edit-product-container div.container div.jumbotron.main div.content form label.error {
	color: #f92d2d;
	font-weight: bold;
}

div.edit-product-container div.container div.jumbotron.main div.content div.row {
	margin: 30px 0;
}

div.edit-product-container div.container div.jumbotron.main div.content div.sex-area {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 0 390px;
}

div.edit-product-container div.container div.jumbotron.main div.content div.sex-area div.sex-inputs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

div.edit-product-container div.container div.jumbotron.main div.previews {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

div.edit-product-container div.container div.jumbotron.main div.image-preview {
	position: relative;
	width: 150px;
	height: 150px;
	border: 2px solid #ddd;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
	color: #ccc;

	display: flex;
	align-items: center;
	justify-content: center;
}

div.edit-product-container div.container div.jumbotron.main div.image-preview:hover {
	filter: brightness(90%);
}

div.edit-product-container div.container div.jumbotron.main div.image-preview i {
	position: absolute;
	color: #0e9aef;
	cursor: pointer;
    font-size: 22px;
    top: 7px;
    right: 10px;
}

div.edit-product-container div.container div.jumbotron.main div.image-preview i:hover {
	filter: brightness(80%);
}

div.edit-product-container div.container div.jumbotron.main img.image-preview__image {
	display: none;
	width: 100%;
	height: 100%;
}

div.edit-product-container div.container div.jumbotron.main div.content div.button-area {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.edit-product-container div.container div.jumbotron.main div.content div.button-area button {
	background: #0E9AEF;
	border: 1px solid #0E9AEF;
	border-radius: 25px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	outline: 0;
	padding: 5px 15px;
	transition: 0.2s;
	width: 280px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

div.edit-product-container div.container div.jumbotron.main div.content div.button-area button:hover {
	filter: brightness(90%);
}
