html, body {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #F3F3F3;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

a {
  text-decoration: none;
}

button, input {
  outline: 0;
  border: 0;
}
