div.thanks-container div.container div.header div.cartDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.thanks-container div.container div.myCart {
	background: #ffffff;
	width: 170px;
	height: 36px;
	border: 1px solid #0E9AEF;
	border-radius: 16px;
	color: #0E9AEF;
	font-size: 18px;
	padding: 5px 15px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

div.thanks-container div.container div.myCart.active {
	background: #0E9AEF;
	width: 170px;
	height: 36px;
	border: 1px solid #0E9AEF;
	border-radius: 16px;
	color: #ffffff;
	font-size: 18px;
	padding: 5px 15px;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.thanks-container div.container div.mycart img {
	display: none;
}

div.thanks-container div.container div.myCart.active img {
	display: block;
	width: 18px;
	height: 18px;
}

div.thanks-container div.container div.header div.identityDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.thanks-container div.container div.identity {
	background: #ffffff;
	width: 170px;
	height: 36px;
	border: 1px solid #0E9AEF;
	border-radius: 16px;
	color: #0E9AEF;
	font-size: 18px;
	padding: 5px 15px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

div.thanks-container div.container div.identity.active {
	background: #0E9AEF;
	width: 170px;
	height: 36px;
	border: 1px solid #0E9AEF;
	border-radius: 16px;
	color: #ffffff;
	font-size: 18px;
	padding: 5px 15px;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.thanks-container div.container div.identity img {
	display: none;
}

div.thanks-container div.container div.identity.active img {
	display: block;
	width: 18px;
	height: 18px;
}

div.thanks-container div.container div.header div.paymentDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.thanks-container div.container div.payment {
	background: #ffffff;
	width: 170px;
	height: 36px;
	border: 1px solid #0E9AEF;
	border-radius: 16px;
	color: #0E9AEF;
	font-size: 18px;
	padding: 5px 15px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

div.thanks-container div.container div.payment.active {
	background: #0E9AEF;
	width: 170px;
	height: 36px;
	border: 1px solid #0E9AEF;
	border-radius: 16px;
	color: #ffffff;
	font-size: 18px;
	padding: 5px 15px;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.thanks-container div.container div.payment img {
	display: none;
}

div.thanks-container div.container div.payment.active img {
	display: block;
	width: 18px;
	height: 18px;
}

div.thanks-container div.container div.header div.thankyouDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.thanks-container div.container div.thankyou {
	background: #ffffff;
	width: 170px;
	height: 36px;
	border: 1px solid #0E9AEF;
	border-radius: 16px;
	color: #0E9AEF;
	font-size: 18px;
	padding: 5px 15px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

div.thanks-container div.container div.thankyou.active {
	background: #0E9AEF;
	width: 170px;
	height: 36px;
	border: 1px solid #0E9AEF;
	border-radius: 16px;
	color: #ffffff;
	font-size: 18px;
	padding: 5px 15px;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.thanks-container div.container div.thankyou img {
	display: none;
}

div.thanks-container div.container div.thankyou.active img {
	display: block;
	width: 18px;
	height: 18px;
}

div.thanks-container div.container div.header hr {
	margin-top: -18px;
    margin-bottom: 28px;
}

div.thanks-container div.container div.jumbotron.main {
	margin-top: 20px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background: #ffffff;
	padding: 15px;
}

div.thanks-container div.container div.jumbotron.main div.content {
	padding: 10px 85px;
}

div.thanks-container div.container div.jumbotron.main div.content div.row {
	margin: 30px 0;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-msg {
  	display: flex;
	align-items: center;
	justify-content: center;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-msg h3 {
	color: #0E9AEF;
	font-weight: bold;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-received {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-received label {
	color: #00FF43;
	font-size: 28px;
	font-weight: bold;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-client {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-client label {
	color: #0E9AEF;
	font-size: 32px;
	font-weight: bold;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-paragraph {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-paragraph p {
	color: #707070;
	font-size: 15px;
	margin-bottom: 5px;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-number-request {
	border: 1px solid #0E9AEF;
	border-radius: 16px;
	padding: 15px;

	display: flex;
	align-items: center;
	justify-content: space-around;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-number-request span {
	color: #707070;
	font-size: 18px;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-number-request label {
	color: #0E9AEF;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 0;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-steps div.request-steps {
  	margin-bottom: -52px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-steps div.row.steps {
	width: 100%;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-steps div.row.steps hr {
	width: 96%;
	margin-top: 22px; 
	margin-bottom: 0;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-steps div.request-steps div.step label {
	top: -28px;
	color: #707070;
	font-size: 12px;
	position: absolute;
	white-space: nowrap;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-steps div.request-steps div.step {
	width: 60px;
	height: 60px;
	border: 2px solid #00FF43;
	background: #ffffff;
	border-radius: 30px;
	color: #00FF43;
	font-weight: bold;
	font-size: 24px;

	display: flex;
	align-items: center;
	justify-content: center;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-steps div.request-steps div.step img {
  	display: none;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-steps div.request-steps div.step.checked span {
  	display: none;
}

div.thanks-container div.container div.jumbotron.main div.content div.thanks-steps div.request-steps div.step.checked img {
	width: 80px !important;
	height: 80px !important;
	display: block;
}
