<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Título</title>
  <style>
    .title {
      font-family: Arial, Helvetica, sans-serif;
      color: #222222;
      display: inline-block;
      width: 100%;
    }

    .title div {
      display: inline-block;
      width: 100%;
    }

    .title div hr {
      width: 100%;
      margin: auto 10px;
    }
  </style>
</head>
<body>
  <div class="title">
    Favoritos
    <div>
      <hr />
    </div>
  </div>
</body>
</html>