div.address-container div.container div.header div.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

div.address-container div.container div.header div.content div.title label {
	margin-bottom: 0;
	color: #707070;
	font-size: 20px;
}

div.address-container div.container div.header div.content div.line {
	width: 83%;
}

div.address-container div.container div.jumbotron.main {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background: #ffffff;
	padding: 15px;
	
	position: relative;
	width: 100%;
}

div.address-container div.container div.jumbotron.main div.navigation {
	width: 480px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #ffffff;
	position: absolute;
	top: -16px;
    right: 45px;
	border-radius: 20px;
	padding: 0 15px;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.address-container div.container div.jumbotron.main div.navigation label {
	margin-bottom: 0;
	color: #707070;
	cursor: pointer;
}

div.address-container div.container div.jumbotron.main div.navigation label:hover {
	filter: brightness(90%);
}

div.address-container div.container div.jumbotron.main div.navigation label.active {
	color: #0E9AEF;
	font-weight: bold;
}

div.address-container div.container div.jumbotron.main div.content label {
	margin-bottom: 2px;
	color: #707070;
}

div.address-container div.container div.jumbotron.main div.content div.row {
	margin: 30px 0;
}

div.address-container div.container div.jumbotron.main div.content div.button-area {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.address-container div.container div.jumbotron.main div.content div.button-area button {
	background: #0E9AEF;
	border: 1px solid #0E9AEF;
	border-radius: 25px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	outline: 0;
	padding: 5px 15px;
	transition: 0.2s;
	width: 280px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

div.address-container div.container div.jumbotron.main div.content div.button-area button:hover {
	filter: brightness(90%);
}
