div.catalog-container div.container div.header div.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.catalog-container div.container div.header div.content div.title label {
	margin-bottom: 0;
	color: #707070;
	font-size: 20px;
}

div.catalog-container div.container div.header div.content div.line {
	width: 90%;
}

div.catalog-container div.container div.body {
	padding: 0;
}

div.catalog-container div.container div.body > div.row {
	margin-bottom: 80px;
}

div.catalog-container div.container div.jumbotron.main {
	margin-top: 9px;
	margin-bottom: 0;
	border: 0;
	border-radius: 10px;
	background: 0;
	padding: 0;
}

div.catalog-container div.container div.jumbotron.main .row {
	margin-bottom: 25px;
}

div.catalog-container div.container div.jumbotron.main .row:last-child {
	margin-bottom: 0;
}

div.catalog-container .stars {
	width: 150px;
}

div.catalog-container div.container div.body-filters {
    height: 100%;
}

div.catalog-container div.container div.jumbotron.filters {
	margin-top: 20px;
	margin-bottom: 0;
	margin-left: 0;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 10px;
	background: #ffffff;
	padding: 15px;
	height: 93%;
}

div.catalog-container div.container div.jumbotron.filters label {
	margin-bottom: 0;
	font-weight: bold;
	color: #707070;
}

div.catalog-container div.container div.jumbotron.filters div.divisor {
	margin: 30px 0;
}

div.catalog-container div.container div.jumbotron.filters hr {
	margin-top: 5px;
}

div.catalog-container div.container div.jumbotron.filters div.filters-inputs label.container-check
	{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.catalog-container div.container div.jumbotron.filters div.filters-inputs label.container-check input
	{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

div.catalog-container div.container div.jumbotron.filters div.filters-inputs span.checkmark
	{
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}

div.catalog-container div.container div.jumbotron.filters div.filters-inputs label.container-check:hover input 
	~ span.checkmark {
	background-color: #ccc;
}

div.catalog-container div.container div.jumbotron.filters div.filters-inputs label.container-check input:checked 
	~ span.checkmark {
	background-color: #2196F3;
}

div.catalog-container div.container div.jumbotron.filters div.filters-inputs span.checkmark:after
	{
	content: "";
	position: absolute;
	display: none;
}

div.catalog-container div.container div.jumbotron.filters div.filters-inputs label.container-check input:checked 
	~ span.checkmark:after {
	display: block;
}

div.catalog-container div.container div.jumbotron.filters div.filters-inputs label.container-check span.checkmark:after
	{
	width: 100%;
	height: 100%;
	border: 5px solid #ffffff;
	border-radius: 7px;
}

div.catalog-container div.container div.jumbotron.main div.jumbotron.product {
	margin: 10px 0 10px 0;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 10px;
	background: #ffffff;
	padding: 10px;
	cursor: pointer;
	max-width: 200px;
	height: 360px;
	max-height: 360px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

div.catalog-container div.container div.jumbotron.main div.jumbotron.product:hover {
	border: 1px solid #0E9AEF;
}

div.catalog-container div.container div.jumbotron.main div.jumbotron.product div.photo-product img {
	width: 100%;
	max-width: 185px;
}

div.catalog-container div.container div.jumbotron.main div.jumbotron.product label {
	color: #707070;
	font-size: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 10em;
}

div.catalog-container div.container div.jumbotron.main div.jumbotron.product p
	{
	font-size: 12px;
}

div.catalog-container div.container div.jumbotron.main div.jumbotron.product label:last-child
	{
	font-weight: bold;
}

div.catalog-container div.container div.jumbotron.main div.jumbotron.product div.stars
	{
	counter-reset: rateme 0;
	font-size: 0rem;
	font-weight: 900;
	height: 25px;
	margin: -10px 0 20px 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

div.catalog-container div.container div.jumbotron.main div.jumbotron.product div.stars span.star
	{
	color: #EEFF00;
	font-size: 2rem;
	padding: -1px 1rem;
}

div.catalog-container div.container div.jumbotron.main div.jumbotron.product div.stars span.star::before
	{
	content: '\2606';
	cursor: pointer;
}

div.catalog-container div.container div.jumbotron.main div.jumbotron.product div.stars span.star.rated::before
	{
	content: '\2605';
}

div.catalog-container div.container div.jumbotron.main div.jumbotron.product div.stars span.star.rated
	{
	counter-increment: rateme 1;
}

div.catalog-container div.container div.jumbotron.main div.jumbotron.product div.stars::after
	{
	content: counter(rateme) '/5';
}

div.catalog-container div.container div.button-area {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.catalog-container div.container div.button-area div.pagination {
	width: 40px;
	height: 40px;
	border-radius: 25px;
	border: 1px solid #0E9AEF;
	background: #ffffff;
	color: #0E9AEF;
	font-weight: bold;
	margin: 0 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.catalog-container div.container div.button-area div.pagination:hover
	{
	filter: brightness(90%);
}

div.catalog-container div.container div.button-area div.pagination.active
	{
	width: 40px;
	height: 40px;
	border-radius: 25px;
	border: 1px solid #0E9AEF;
	background: #0E9AEF;
	color: #ffffff;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.catalog-container div.container div.button-area button {
	background: #0E9AEF;
	border: 1px solid #0E9AEF;
	border-radius: 25px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	outline: 0;
	padding: 5px 10px;
	transition: 0.2s;
	margin: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.catalog-container div.button-area button:hover {
	filter: brightness(90%);
}

div.empty-cart {
	width: 100%;
	min-height: 800px;
	text-align: center;
}

div.empty-cart strong {
	font-size: 28px;
	color: #ddd;
	line-height: 400px;
}

section.best-sellers div.jumbotron {
	margin: 10px 0 10px 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background: #ffffff;
	padding: 10px;
}

section.best-sellers div.jumbotron div.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

section.best-sellers div.jumbotron div.content div.carousel-item {
	padding: 25px;
}

section.best-sellers div.jumbotron div.content a.carousel-control-prev {
	width: 4%;
	margin-left: -6px;
}

section.best-sellers div.jumbotron div.content a.carousel-control-next {
	width: 4%;
	margin-right: -6px;
}

section.best-sellers div.jumbotron img.arrow-left {
	margin-left: -10px;
}

section.best-sellers div.jumbotron img.arrow-right {
	margin-left: 10px;
}

section.best-sellers div.jumbotron img.arrow-left, section.best-sellers div.jumbotron img.arrow-right
	{
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 10;
}

section.best-sellers div.jumbotron img.arrow-left:hover, section.best-sellers div.jumbotron img.arrow-right:hover
	{
	filter: brightness(90%);
}

section.best-sellers div.jumbotron.product {
	margin: 10px 0 10px 0;
	border: 1px solid #707070;
	border-radius: 10px;
	background: #ffffff;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

section.best-sellers div.jumbotron.product:hover {
	border: 1px solid #0E9AEF;
}

section.best-sellers div.jumbotron.product div.photo-product {
	height: 250px;
}

section.best-sellers div.jumbotron.product div.photo-product img {
	width: 100%;
	max-height: 223px;
	cursor: pointer;
}

section.best-sellers div.jumbotron.product label {
	color: #707070;
	font-size: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 12em;
}

section.best-sellers div.jumbotron.product label:last-child {
	font-weight: bold;
}

section.best-sellers div.jumbotron.product div.stars {
	counter-reset: rateme 0;
	font-size: 0rem;
	font-weight: 900;
	height: 25px;
	margin: -10px 0 20px 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

section.best-sellers div.jumbotron.product div.stars span.star {
	color: #EEFF00;
	font-size: 2rem;
	padding: -1px 1rem;
}

section.best-sellers div.jumbotron.product div.stars span.star::before {
	content: '\2606';
	cursor: pointer;
}

section.best-sellers div.jumbotron.product div.stars span.star.rated::before
	{
	content: '\2605';
}

section.best-sellers div.jumbotron.product div.stars span.star.rated {
	counter-increment: rateme 1;
}

section.best-sellers div.jumbotron.product div.stars::after {
	content: counter(rateme) '/5';
}