.corpo {
    display: flex;
    padding-top: 3%;
}

.step {
    height: 50px;
    width: 50px;
    border: 3px solid #00FF43;
    border-radius: 100%;
    text-align: center;
    margin: 0 20px;
    padding: 10%;
}

.step-all {
    margin: 0.7% 8%;
}

.step-name {
    text-align: center;
    font-size: 0.8em;
    color: #707070;
    font-weight: bold;
}

.step-number {
    color: #00FF43;
    font-weight: bold;
}