header#main-header {
	background-color: #3EAEF2;
	text-align: center;
}

header#main-header div.top-header {
	padding-bottom: 10px;
}

header#main-header div.top-header div {
	display: inline-block;
	vertical-align: middle;
	margin: 0 14px;
}

header#main-header div.top-header div input {
	width: 450px;
	height: 36px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 5px 15px;
}

header#main-header div.top-header div.client-area div {
	margin: 0 3px;
}

header#main-header div.top-header div.logo-area, header#main-header div.top-header div.search-area img,
	header#main-header div.top-header div.client-area div.admin, header#main-header div.top-header div.client-area div.account,
	header#main-header div.top-header div.client-area div.favorite, header#main-header div.top-header div.client-area div.cart,
	header#main-header div.bottom-header nav ul li {
	cursor: pointer;
}

header#main-header div.top-header div.client-area div.account div.login-modal div.actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header#main-header div.top-header div.client-area div.account div.login-modal {
	min-width: 16em;
	opacity: 1;
	visibility: hidden;
	transition-delay: .1s;
	transition: all .3s ease;
	display: block;
	margin-top: 1.25em;
	border-radius: 10px;
	padding: .5em 1em;
	left: auto;
	z-index: 100;
	position: absolute;
	background: #F0F0F0;
	border: 1px solid #0E9AEF;
}

header#main-header div.top-header div.client-area div.account div.login-modal.inactive {
	display: none;
}

header#main-header div.top-header div.client-area div.account div.login-modal.active {
	display: block;
}

header#main-header div.top-header div.client-area div.account div.login-modal button {
	margin: 5px;
}

header#main-header div.top-header div.client-area div.account div.login-modal button.login-button {
	background: #0E9AEF;
	border: 1px solid #0E9AEF;
	border-radius: 32px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	height: 35px;
}

header#main-header div.top-header div.client-area div.account div.login-modal button.create-account-button {
	background: #ffffff;
	border: 1px solid #0E9AEF;
	border-radius: 32px;
	color: #0E9AEF;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	height: 35px;
}

header#main-header div.top-header div.client-area div.account div.login-modal button.logout-account-button {
	background: #ffffff;
	border: 1px solid #ed2d2d;
	border-radius: 32px;
	color: #ed2d2d;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	height: 35px;
}

header#main-header div.top-header div.client-area div.account div.login-modal div.pages {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header#main-header div.top-header div.client-area div.account div.login-modal button {
	background: #ffffff;
	border: 1px solid #0E9AEF;
	border-radius: 32px;
	color: #707070;
	font-size: 12px;
	font-weight: bold;
	width: 50%;
	height: 30px;
}

header#main-header div.top-header div.client-area div.account:hover,
header#main-header div.top-header div.client-area div.account div.login-modal {
	visibility: visible;
}

header#main-header div.top-header div.search-area img:hover, header#main-header div.top-header div.client-area div.admin:hover,
	header#main-header div.top-header div.client-area div.account div.account-icon:hover,
	header#main-header div.top-header div.client-area div.account strong:hover,
	header#main-header div.top-header div.client-area div.account img:hover,
	header#main-header div.top-header div.client-area div.favorite:hover,
	header#main-header div.top-header div.client-area div.cart:hover {
	filter: brightness(90%);
}

header#main-header div.top-header div.client-area div.admin div.admin-icon,
header#main-header div.top-header div.client-area div.account div.account-icon,
header#main-header div.top-header div.client-area div.favorite div.favorite-icon,
header#main-header div.top-header div.client-area div.cart div.cart-icon {
	width: 40px;
	height: 40px;
	background-color: #0B7BBF;
	border-radius: 50%;
	text-align: center;
}

header#main-header div.top-header div.client-area div.admin div.admin-icon img,
header#main-header div.top-header div.client-area div.account div.account-icon img,
header#main-header div.top-header div.client-area div.favorite div.favorite-icon img,
header#main-header div.top-header div.client-area div.cart div.cart-icon img,
header#main-header div.top-header div.search-area img {
	width: 20px;
	height: 20px;
	margin-top: 9px;
}

header#main-header div.top-header div.search-area img {
	position: relative;
	right: 36px;
	top: -5px;
}

header#main-header div.top-header div.client-area div.admin strong,
header#main-header div.top-header div.client-area div.account strong {
	color: #ffffff;
	font-size: 18px;
}

header#main-header div.top-header div.client-area div.account img {
	width: 15px;
	height: 15px;
}

header#main-header div.bottom-header nav {
	background-color: #0B7BBF;
	margin-top: -15px;
}

header#main-header div.bottom-header nav ul li {
	display: inline-block;
	padding: 15px 60px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	border: 5px solid #0B7BBF;
}

header#main-header div.bottom-header nav ul li.active {
	border-bottom: 5px solid #3EAEF2;
	color: #ffffff;
}

header#main-header div.bottom-header nav ul li:hover {
	border-bottom: 5px solid #3EAEF2;
}

/* ==== TOP FIXED ==== */
div#bottom-header.sticky {
	position: fixed;
	top: 13px;
	width: 100%;
	z-index: 10;
}

div.sticky-content {
    margin-top: 66px;
}
