section.banner-section {
  display: flex;
  margin: 10px 20px;
}

section.banner-section div.banner {
  border: 1px solid #222;
  border-radius: 15px;
  margin: 0 auto;
}

section.banner-section div.banner img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

section.banner-section div.banner div {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.banner-section div.banner div.banner_circle_step {
  width: 10px;
  height: 10px;
  border: 1px solid #0B7BBF;
  border-radius: 50%;
  display: inline-block;
  background-color: #3EAEF2;
  margin: -30px 5px 0 5px;
}

div.home-container div.container div.header div.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

div.home-container div.container div.header div.content div.title label {
	margin-bottom: 0;
	color: #707070;
	font-size: 20px;
}

div.home-container div.container div.header div.content div.line {
	width: 85%;
}

section.best-sellers div.jumbotron {
	margin: 10px 0 10px 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background: #ffffff;
	padding: 10px;
}

section.best-sellers div.jumbotron div.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.best-sellers div.jumbotron img.arrow-left {
  margin-left: 25px;
  margin-right: -15px;
}

section.best-sellers div.jumbotron img.arrow-right {
  margin-left: -15px;
  margin-right: 25px;
}

section.best-sellers div.jumbotron img.arrow-left,
section.best-sellers div.jumbotron img.arrow-right {
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}

section.best-sellers div.jumbotron img.arrow-left:hover,
section.best-sellers div.jumbotron img.arrow-right:hover {
  filter: brightness(90%);
}

section.best-sellers div.jumbotron.product {
  margin: 10px 0 10px 0;
	border: 1px solid #707070;
	border-radius: 10px;
	background: #ffffff;
  padding: 10px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

section.best-sellers div.jumbotron.product div.photo-product img {
  width: 100%;
}

section.best-sellers div.jumbotron.product label {
  color: #707070;
  font-size: 18px;
}

section.best-sellers div.jumbotron.product label:last-child {
  font-weight: bold;
}

section.best-sellers div.jumbotron.product div.stars {
  counter-reset: rateme 0;
  font-size: 0rem;
  font-weight: 900;
  height: 25px;
  margin: -10px 0 20px 0;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

section.best-sellers div.jumbotron.product div.stars span.star {
  color: #EEFF00;
  font-size: 2rem;
  padding: -1px 1rem;
}

section.best-sellers div.jumbotron.product div.stars span.star::before {
  content: '\2606';
  cursor: pointer;
}

section.best-sellers div.jumbotron.product div.stars span.star.rated::before {
  content: '\2605';
}

section.best-sellers div.jumbotron.product div.stars span.star.rated {
  counter-increment: rateme 1;
}

section.best-sellers div.jumbotron.product div.stars::after {
  content: counter(rateme) '/5';
}
