div.login-container div.container div.jumbotron.main {
	border: 1px solid #707070;
	border-radius: 10px;
	background: #ffffff;
	padding: 15px;
}

div.login-container div.container div.jumbotron.main div.content {
	padding: 50px 300px 50px 300px;
}

div.login-container div.container div.jumbotron.main div.content label {
	margin-bottom: 0;
	color: #707070;
}

div.login-container div.container div.jumbotron.main div.content div.row {
	margin: 30px 0;
}

div.login-container div.container div.jumbotron.main div.content div.password-area label.forgot-your-password {
	right: 0px;
    position: absolute;
    padding-right: 300px;
}

div.login-container div.container div.jumbotron.main div.content div.button-area {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.login-container div.container div.jumbotron.main div.content div.button-area button {
	background: #0E9AEF;
	width: 280px;
	height: 50px;
	border: 1px solid #0E9AEF;
	border-radius: 25px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 15px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

div.login-container div.container div.jumbotron.main div.content div.new-client-area {
	display: flex;
	align-items: center;
	justify-content: center;
}
