div.profile-address-container div.container div.header div.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

div.profile-address-container div.container div.header div.content div.title label {
	margin-bottom: 0;
	color: #707070;
	font-size: 20px;
}

div.profile-address-container div.container div.header div.content div.line {
	width: 85%;
}

div.profile-address-container div.container div.jumbotron.main {
	margin-top: 20px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background: #ffffff;
	padding: 15px;
}

div.profile-address-container div.container div.jumbotron.main div.jumbotron.address {
    border: 1px solid #707070;
    border-radius: 20px;
    background: #ffffff;
    padding: 15px;
}

div.profile-address-container div.container div.jumbotron.main div.jumbotron.address.active {
    border: 1px solid #0E9AEF;
    border-radius: 20px;
    background: #ffffff;
    padding: 15px;
}

div.profile-address-container div.container div.jumbotron.main div.jumbotron.address.active hr {
    border-top: 1px solid #0E9AEF;
}

div.profile-address-container div.container div.jumbotron.main div.jumbotron.address div.header {
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.profile-address-container div.container div.jumbotron.main div.jumbotron.address div.header label {
    margin-bottom: 0;
    color: #707070;
}

div.profile-address-container div.container div.jumbotron.main div.jumbotron.address.active div.header label {
    margin-bottom: 0;
    color: #0E9AEF;
}

div.profile-address-container div.container div.jumbotron.main div.jumbotron.address div.header button {
    background: none;
}

div.profile-address-container div.container div.jumbotron.main div.jumbotron.address div.header button img {
    width: 20px;
    height: 20px;
}

div.profile-address-container div.container div.jumbotron.main div.jumbotron.address div.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

div.profile-address-container div.container div.jumbotron.main div.jumbotron.address div.body label {
    margin-bottom: 0;
    color: #707070;
    font-weight: bold;
}

div.profile-address-container div.container div.jumbotron.main div.jumbotron.address.active div.body label {
    margin-bottom: 0;
    color: #0E9AEF;
    font-weight: bold;
}

div.profile-address-container div.container div.jumbotron.main div.jumbotron.address div.body label span {
    font-weight: normal;
}

div.profile-address-container div.container div.jumbotron.main div.jumbotron.address div.selection-area {
    color: #707070;
}

div.profile-address-container div.container div.jumbotron.main div.jumbotron.address.active div.selection-area {
    color: #0E9AEF;
}

div.profile-address-container div.container div.jumbotron.main div.content div.button-area {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.profile-address-container div.container div.jumbotron.main div.content div.button-area button {
	background: #0E9AEF;
	border: 1px solid #0E9AEF;
	border-radius: 25px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	outline: 0;
	padding: 5px 15px;
	transition: 0.2s;
	width: 280px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

div.profile-address-container div.container div.jumbotron.main div.content div.button-area button:hover {
	filter: brightness(90%);
}
