@media screen and (max-width: 1440px) {
	header#main-header div.top-header div.search-area input {
		width: 350px;
	}
}
 
@media only screen and (max-width: 1350px) {
	header#main-header div.bottom-header nav ul {
		overflow-x: scroll;
		justify-content: flex-start;
	}
}

@media only screen and (max-width: 1215px) {
	header#main-header div.logo-area img {
		width: 250px;
		padding: 5px 5px;
	}
}

@media only screen and (max-width: 1200px) {
  	header#main-header div.top-header div input {
  	    width: 390px;
  	}
}

@media only screen and (max-width: 1140px) {
	header#main-header div.top-header {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	
	header#main-header div.search-area {
		display: none !important;
	}
}

@media only screen and (max-width: 1024px) {
	header#main-header div.search-area {
		display: none !important;
	}
	
	header#main-header div.bottom-header nav ul {
		overflow-x: scroll;
		justify-content: flex-start;
	}
}

@media only screen and (max-width: 1000px) {
	header#main-header nav ul li {
		font-size: 10px !important;
		padding: 15px 40px !important;
	}
}

@media only screen and (max-width: 600px) {
	header#main-header div.account strong,
	header#main-header div.account img.bottom-arrow {
		display: none;
	}
}

@media only screen and (max-width: 470px) {
	header#main-header div.logo-area img {
		width: 200px;
		padding: 8px 2px;
	}
	
	header#main-header div.client-area {
		margin: 0 !important;
	}
}