/* td.details-control {
	background: url('../../../assets/img/details_open.png') no-repeat center center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url('../../../assets/img/details_close.png') no-repeat center center;
} */

div.list-products-container div.container div.header div.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

div.list-products-container div.container div.header div.content div.title label {
	margin-bottom: 0;
	color: #707070;
	font-size: 20px;
}

div.list-products-container div.container div.header div.content div.line {
	width: 86%;

	display: flex;
	align-items: center;
	justify-content: center;
}

div.list-products-container div.container div.header div.content div.line a {
	margin: 0 5px;
}

div.list-products-container div.container div.header div.content div.line hr {
	width: 100%;
	margin-right: 10px;
}

div.list-products-container div.container div.header div.content div.line hr {
	color: #0E9AEF;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

div.list-products-container div.container div.jumbotron.main {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background: #ffffff;
	padding: 15px;
}

div.list-products-container div.container div.jumbotron.main div.content label {
	margin-bottom: 2px;
	color: #707070;
}

div.list-products-container div.container div.jumbotron.main div.content div.row {
	margin: 30px 0;
}

div.list-products-container div.container div.jumbotron.main div.content div.sex-area {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 0 390px;
}

div.list-products-container div.container div.jumbotron.main div.content div.sex-area div.sex-inputs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

div.list-products-container div.container div.jumbotron.main div.content div.button-area {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.list-products-container div.container div.jumbotron.main div.content div.button-area button {
	background: #0E9AEF;
	border: 1px solid #0E9AEF;
	border-radius: 25px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	outline: 0;
	padding: 5px 15px;
	transition: 0.2s;
	width: 280px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

div.list-products-container div.container div.jumbotron.main div.content div.button-area button:hover {
	filter: brightness(90%);
}

/* ==== PHOTOS MODAL ==== */
.product-photos-slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.productSlides {
	display: none;
}

.prev-product-photo, .next-product-photo {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next-product-photo {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev-product-photo:hover, .next-product-photo:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.modal-body .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.modal-body .active, .modal-body .dot:hover {
  background-color: #0E9AEF;
}

.modal-body .fade-product-photo-slide {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
