header {
  background-color: #3EAEF2;
  text-align: center;
}

header div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 50px;
}

header div input {
  width: 450px;
  height: 26px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px 15px;
}

header div.client_area div {
  margin: 0 3px;
}

header div.logo_area,
header div.search_area img,
header div.client_area div.account,
header div.client_area div.favorite,
header div.client_area div.cart {
  cursor: pointer;
}

header div.client_area div.account div.account_icon,
header div.client_area div.favorite div.favorite_icon,
header div.client_area div.cart div.cart_icon {
  width: 40px;
  height: 40px;
  background-color: #0B7BBF;
  border-radius: 50%;
  text-align: center;
}

header div.client_area div.account div.account_icon img,
header div.client_area div.favorite div.favorite_icon img,
header div.client_area div.cart div.cart_icon img,
header div.search_area img {
  width: 20px;
  height: 20px;
  margin-top: 9px;
}

header div.search_area img {
  position: relative;
  right: 36px;
  top: 6px;
}

header div.client_area div.account strong {
  color: #ffffff;
  font-size: 18px;
}

header div.client_area div.account img {
  width: 15px;
  height: 15px;
}
